<div class="card">
  <div class="flex  justify-content-center m-2 card-container">
    <p-table #dt [value]="pokemons" [paginator]="true" [rows]="25" [rowsPerPageOptions]="[25,50,100]"
             [globalFilterFields]="['name','pokemon.name']">
      <ng-template pTemplate="caption">
        <div style="text-align: center">
          <input class="p-inputtext p-component" pInputText type="text"
                 (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Search Pokemon"/>
        </div>
      </ng-template>
      <ng-template pTemplate="body" let-pokemon>
        <div
          class="card-poke flex align-items-center justify-content-center m-2 border-round h-16rem w-13rem inline-flex"
          *ngIf="pokemon.status" [style]="{'background':colors[pokemon.status.types[0].type.name]}"
          (click)="showDialog(pokemon.status.id)">
          <div>
            <img src="{{pokemon.status.sprites.other.home.front_default}}" alt="" width="150">
            <p class="flex align-items-center justify-content-center">#{{pokemon.status.id}}</p>
            <p class="flex align-items-center justify-content-center font-bold capitalize text-2xl">{{pokemon.name}}</p>
          </div>
        </div>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog [(visible)]="display" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [draggable]="false" [modal]="true"
          [resizable]="false" *ngIf="pokes" [style]="{width:'25vw',height:'auto'}">
  <div class=" border-round " [style]="{'background':colors[pokes.types[0].type.name],width:'100%',height:'100%'}">
    <div class="col-12">
      <div class="card">
        <div class="flex justify-content-grap flex-wrap card-container">
          <div class="flex align-items-center justify-content-center">
            <img src="{{pokes.sprites.other.home.front_default}}" [style]="{width: '70%'}">
          </div>
        </div>
    </div>
    </div>
    <div class="col-12">
      <p class="flex align-items-center justify-content-center font-bold capitalize text-2xl">{{pokes.name}}</p>
      <div>
        <p-tag *ngFor="let item of pokes.types"
               [style]="{'background':colors[item.type.name],'color':'black'}">{{item.type.name}}</p-tag>
      </div>
      <div class="card">
        <div class="flex justify-content-around flex-wrap card-container indigo-container">
          <div class="flex align-items-center w-full justify-content-centerbg-indigo-500">
            <table class="w-full text-xs text-center">
              <tr>
                <th>{{pokes.height}}</th>
                <th>{{pokes.weight}}</th>
                <th>{{pokes.base_experience}}</th>
                <th>
                  <span *ngFor="let item of pokes.abilities" ><br>{{item.ability.name}}</span>
                </th>
              </tr>
              <tr>
                <td>HEIGHT</td>
                <td>WEIGHT</td>
                <td>EX</td>
                <td>
ABILITY
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</p-dialog>

