/* You can add global styles to this file, and also import other style files */
body{
  background: #efefbb;
  background: -webkit-linear-gradient(to right,#d4d3dd,#efefbb);
  background: linear-gradient(to right,#d4d3dd,#efeffb);
}

